<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuniu.hospital_web.mapper.PrescriptionMapper">
  <resultMap id="BaseResultMap" type="com.wuniu.hospital_web.entity.Prescription">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orderNum" jdbcType="VARCHAR" property="ordernum" />
    <result column="prescriptionType" jdbcType="INTEGER" property="prescriptiontype" />
    <result column="diagnosis" jdbcType="VARCHAR" property="diagnosis" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="check_id" jdbcType="INTEGER" property="checkId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="checkType" jdbcType="INTEGER" property="checktype" />
    <result column="instructions" jdbcType="VARCHAR" property="instructions" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_prescription
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuniu.hospital_web.entity.Prescription">
    insert into t_prescription (id, orderNum, prescriptionType, 
      diagnosis, manager_id, check_id, 
      status, createTime, checkType, 
      instructions, notes)
    values (#{id,jdbcType=INTEGER}, #{ordernum,jdbcType=VARCHAR}, #{prescriptiontype,jdbcType=INTEGER}, 
      #{diagnosis,jdbcType=VARCHAR}, #{managerId,jdbcType=INTEGER}, #{checkId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{checktype,jdbcType=INTEGER}, 
      #{instructions,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wuniu.hospital_web.entity.Prescription">
    update t_prescription
    set orderNum = #{ordernum,jdbcType=VARCHAR},
      prescriptionType = #{prescriptiontype,jdbcType=INTEGER},
      diagnosis = #{diagnosis,jdbcType=VARCHAR},
      manager_id = #{managerId,jdbcType=INTEGER},
      check_id = #{checkId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      checkType = #{checktype,jdbcType=INTEGER},
      instructions = #{instructions,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, orderNum, prescriptionType, diagnosis, manager_id, check_id, status, createTime, 
    checkType, instructions, notes
    from t_prescription
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, orderNum, prescriptionType, diagnosis, manager_id, check_id, status, createTime, 
    checkType, instructions, notes
    from t_prescription
  </select>
</mapper>