<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuniu.hospital_web.mapper.WithdrawMapper">
  <resultMap id="BaseResultMap" type="com.wuniu.hospital_web.entity.Withdraw">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manager_id" jdbcType="INTEGER" property="managerId" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="commission" jdbcType="DECIMAL" property="commission" />
    <result column="withdrawTime" jdbcType="TIMESTAMP" property="withdrawtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_withdraw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuniu.hospital_web.entity.Withdraw">
    insert into t_withdraw (id, manager_id, bank, 
      amount, commission, withdrawTime, 
      status, operator)
    values (#{id,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}, #{bank,jdbcType=VARCHAR}, 
      #{amount,jdbcType=DECIMAL}, #{commission,jdbcType=DECIMAL}, #{withdrawtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{operator,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wuniu.hospital_web.entity.Withdraw">
    update t_withdraw
    set manager_id = #{managerId,jdbcType=INTEGER},
      bank = #{bank,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      commission = #{commission,jdbcType=DECIMAL},
      withdrawTime = #{withdrawtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      operator = #{operator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, manager_id, bank, amount, commission, withdrawTime, status, operator
    from t_withdraw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, manager_id, bank, amount, commission, withdrawTime, status, operator
    from t_withdraw
  </select>
</mapper>